
<style>
    div {
        text-align: center;
    }
    h1{
        color:red;
    }
</style>
<h1>Faleminderit qe zgjodhet kursin tone.Piket u shtuan me sukses</h1>
<div>
    @Html.ActionLink("Home Page", "Index", "Home")
</div>
