@model Course_Store.Models.CourseCategory

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategotyType)
        </th>
        <th>
            @Html.DisplayFor(Model.CategotyType)
        </th>
        <th></th>
    </tr>
</table>
